/* CSS - Name: "positionstyles.css" */
/* Activity 1 styles */
.content1 {
  /* This is the parent of the activity 1 boxes. */
  display: grid;
  grid-template-columns: 1fr 1fr; 
  justify-items: center;
  gap: 20px;
}
.red1 { 
  width: 100%; 
  height: 100px; 
  /*margin-bottom: 100px; */
  background-color: red;
  /*grid-column: span; */
  grid-column: 1/3;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.green1 {
  width: 200px; 
  height: 200px; 
  background-color: green; 

} 
.yellow1 {
  width: 200px; 
  height: 200px; 
  background-color: gold; 
} 
.blue1 {
  width: 100%; 
  height: 100px; 
  background-color: blue;
  grid-column: 1/3; 
} 
/* Activity 2 styles */ 
.content2 {
  /* This is the parent of the activity 2 boxes. */
  position: relative;
  width: 300px;
  height: 200px;
}
.red2 {
  position: absolute;
  width: 100px; 
  height: 100px; 
  background-color: red; 
} 
.green2 { 
  position: absolute;
  width: 100px; 
  height: 100px; 
  background-color: green;
  top: 50px; 
  left: 50px;
  z-index: 1; 
} 
.yellow2 {
  position: absolute;
  width: 100px; 
  height: 100px; 
  background-color: gold; 
  top: 100px; 
  left: 100px; 
  z-index: 2;
} 
.blue2 {
  position: absolute;
  width: 100px; 
  height: 100px; 
  background-color: blue;
  top: 150px; 
  left: 150px;
  z-index: 3;
} 
/* Activity 3 styles */ 
.content3 {
  /* This is the parent of the activity 3 boxes. */
  display: grid;
  grid-template-columns: 1fr 1fr; 
}
.red3 {
  width: 100%; 
  height: 100px; 
  background-color: red; 
  grid-column: 1/3;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
} 
.green3 {
  width: 90%; 
  height: 200px; 
  background-color: green;
  align-self: stretch;
  justify-self: stretch;
  } 
.yellow3 {
  width: 100%; 
  height: 200px; 
  background-color: gold; 
  align-self: stretch;
  justify-self: stretch;
} 
.blue3 {
  width: 100%;
  height: 100px; 
  background-color: blue; 
  grid-column: 1/3;
} 
/* Activity 4 styles */ 
.content4 {
  /* This is the parent of the activity 4 boxes. */
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 400px;
}
.red4 {
  width: 100%; 
  height: 250%; 
  background-color: red; 
} 
.container {
  display: grid;
  grid-template-columns: repeat(3, 1);
  justify-content: right;
  gap: 5px;
  height: 100%;
}
.green4 {
  width: 100%; 
  height: 100%; 
  background-color: green; 
  margin-bottom: -10%;
} 
.yellow4 {
  width: 100%; 
  height: 50%; 
  background-color: gold;
  margin-bottom: 10px;
  margin-top: -10px;
  margin-left: 100%;
  position: relative;
  grid-column: 1/2;
  /*float: right;*/
} 
.blue4 {
  width: 100%; 
  height: 50%; 
  background-color: blue; 
  margin-top: 100px;
}
/* Activity 5 styles */ 
.content5 {
  /* This is the parent of the activity 5 boxes. */
  justify-items: left;
  gap: 20px;
  height: 400px;
  /* position: absolute; */
}
.red5 { 
  width: 100%; 
  height: 100px; 
  background-color: red;
  grid-column: 1/3;
} 
/*.container {
  position: relative;
  width: 200px; 
  height: 200px; 
}*/
.green5 { 
  width: 100px; 
  height: 100px; 
  background-color: green; 
  position: absolute;
  /* top: 30px;  */
  bottom: 200px;
  left: 30px;
  z-index: 3;
}
.yellow5 {
  position: relative;
  float: left;
  width: 100%; 
  height: 78%; 
  background-color: gold; 
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #282828;
  text-align: justify;
  line-height: 1.5; 
  text-indent: 50px; 
} 
.blue5 {
  width: 100%; 
  height: 100px; 
  background-color: blue; 
  grid-column: 1/3;
  margin-top: 30%;
}
/* Activity 6 styles*/
.content6 {
  /* This is the parent of the activity 6 boxes. */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1/4;
  grid-row: span;
}
.red6 {
  width: 700px; 
  height: 200px; 
  background-color: red; 
  position: absolute;
} 
.green6 {
  position: relative;
  top: 450px;
  width: 300px; 
  height: 300px; 
  background-color: green;
  z-index: 4; 
} 
.yellow6 {
  position: relative;
  width: 360px; 
  height: 500px; 
  background-color: gold;
  top: 50%; 
  z-index: 2;
  bottom: 10%;
} 
.blue6 {
  position: relative;
  width: 700px; 
  height: 500px; 
  background-color: blue; 
  left: 30%;
  bottom: 400px;
} 


/* Do not make any changes below here */
.activity {
  width: 70%; 
  margin: 20px auto; 
  font-family: Arial, sans-serif; 
  border: 1px solid black; 
  padding: 10px; 
  clear:both; 
  overflow: auto;
} 

.hint {
  border: 1px solid grey;
  background: #e0e0e0;
  padding: .5em;
  position: relative;
  margin: 1em 0;
}
.hint h3 {
  margin: 0;
}
.hint:hover {
  background: #d0d0d0;
}
.hint > div {
  display: none;
}

.hint input[type=checkbox] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.hint input[type=checkbox]:checked ~ div {
  display: block;
}

.hint i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 10px;
  top: -3px;
}
.hint i:before, .hint i:after {
  content: "";
  position: absolute;
  background-color: black;
  width: 3px;
  height: 9px;
}
.hint i:before {
  transform: translate(2px, 0) rotate(45deg);
}
.hint i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

.hint input[type=checkbox]:checked ~ i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.hint input[type=checkbox]:checked ~ i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
.hint a {
  position: relative;
  z-index: 1;
}